$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

/* Put your CSS here */
html, body {
  margin: 20px;
}

/*
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
*/

.row-fluid {
    border: 1px solid black;
}

pre {
    font-size: .8em;
}

.my-repeat-animation.ng-enter, 
/*.my-repeat-animation.ng-leave, 
.my-repeat-animation.ng-move*/ {
  -webkit-transition: 1.5s linear all;
  -moz-transition: 1.5s linear all;
  -o-transition: 1.5s linear all;
  transition: 1.5s linear all;
  position:relative;
}

.my-repeat-animation.ng-enter {
  background-color: green;
  left:-10px;
  /*opacity:0;*/
}
.my-repeat-animation.ng-enter.ng-enter-active {
  background-color: yellow;
  left:0;
  /*opacity:1;*/
}

.my-repeat-animation.ng-leave {
  left:0;
  /*opacity:1;*/
}
.my-repeat-animation.ng-leave.ng-leave-active {
  left:-10px;
  /*opacity:0;*/
}

.my-repeat-animation.ng-move {
  /*opacity:0.5;*/
}
.my-repeat-animation.ng-move.ng-move-active {
  /*opacity:1;*/
}

.shopped {
  text-decoration: line-through;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

li {
  padding: .2em;
  margin: .2em;
  border: 1px dotted grey;
}

.odd {
  background-color: green;
}

.even {
  background-color: yellow;
}

input {
  background-color: yellow;
  border: 0;
  outline: 0;
  font-size: 2em;
}

input:focus {
  border: 1px solid orange;
}