

    <!-- slide -->
    <!-- input-block-level -->
    <!--<ul ui-sortable="{ axis: 'y', cancel: 'input,button' }" ng-model="listItems">-->

<div class="row-fluid">
  <div class="span12" style="text-align: center;">
    <pre>Ultimate Shopping List</pre>
    <ul id="sortable" style="display: inline-block;" >
      <li ng-repeat="item in listItems" ng-swipe-right="remove($index)" style="">
        <div class="input-append input-prepend" style="margin-bottom: 2px;">
          <button class="btn" type="button" ng-click="shop($index)"><i class="icon-check"></i></button>
          <input placeholder="Item" type="text" ng-class="item.shopped" class="input-small" ng-model="item.name" focusable-item></input>
          <button class="btn" type="button" ng-click="remove($index)"><i class="icon-remove"></i></button>
          <button class="btn" type="button" ng-click="addMiddle($index)"><i class="icon-plus"></i></button>
          <span class="add-on handle"><i class="icon-th"></i></button>
        </div>    
        <br/>
      </li>
    </ul>
  </div>
</div>

        <!--
        <button type="button" ng-disabled="$index===0" ng-click="move($index, $index-1)">&#8593;</button>
        <button type="button" ng-disabled="$index>=listItems.length-1"ng-click="move($index, $index+1)">&#8595;</button>
        -->

<!--
<div class="row-fluid">
  <div class="span12">
    <button ng-click="addBottom()">Add</button>
    <pre>{{pretty()}}</pre>
  </div>
</div>
-->